.footer
  background-color #4a90e2
  padding 10px 10px
  position fixed
  width 100%
  bottom 0
  margin 0
  display flex
  align-items center
  justify-content center
  height 45px

.footer-buttons
  display flex
  align-items center
  margin-left auto

.settings-icon
  display flex
  align-items center
  color white
  text-decoration none
  margin-right 30px
  margin-bottom 10px

.github-link
  display flex
  align-items center
  color white
  text-decoration none
  margin-left 10px

.github-link:hover
  color #357ab8
  text-decoration underline
